@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
       url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
       url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
       url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
       url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.absolutely-hidden {
  display:none;
}

.reset-list {
  margin:0;
  padding:0;
  list-style-type: none;
}

.container {
  /*max-*/width: 1160px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link--bold {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.link--attractive {
  display: block;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 7px, #FFE17F 7px, #FFE17F 15px, rgba(255, 255, 255, 0) 15px);
  transition: 0.5s;
}

.link--attractive:focus {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 7px, #AF4FFF 7px, #AF4FFF 15px, rgba(255, 255, 255, 0) 15px );
}

.link--attractive:hover {
  background: #FFE17F;
}

.link--attractive:active {
  opacity: 0.3;
}

.link--white{
  color: #ffffff;
}

.link--motley {
  display: block;

  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 7px, #FFC700 7px, #FFC700 15px, rgba(255, 255, 255, 0) 15px);
  transition: 0.5s;
}

.link--motley:focus {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 7px, #AF4FFF 7px, #AF4FFF 15px, rgba(255, 255, 255, 0) 15px );
}

.link--motley:hover {
  background: #FFC700;
}

.link--motley:active {
  color:#FFE17F;
  background: #000000;
}


.page,
.page-catalog{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
  margin:0;
  padding: 40px 0 0 0;
  font-family: Raleway, "Verdana", sans-serif;;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
}

/*--header----*/
.page-header {
  position: relative;
  padding: 40px 60px;
  min-height: 300px;
  box-sizing: border-box;
  background-color: #ffe17f;
}

.header-logo{
  position: absolute;
  top: -22px;
  left: 60px;
}

.header-client{
  display: flex;
  flex-flow: row wrap;
  margin:0 0 44px 0;

  font-family: "Rubik", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}
.header-searcher{
  width: 480px;
  margin-right: 24px;
}

.searcher__label::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 20px 0 0;
  content: "";

  background-image: url("../images/svg/header/header-searcher.svg");
}

.searcher__input {
  font-family: "Rubik", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  background-color: inherit;
  border: none;
  color: #000000;
  opacity: 0.3;
}

.header-login{
  width: 200px;
  margin-right: 15px;
}

.header-login__item:first-of-type::before {
  display: inline-block;
  width: 13px;
  height: 12px;
  margin: 0 12px 0 0;
  content: "";

  background-image: url("../images/svg/header/header-person.svg");
}

.header-login__item:nth-of-type(2) {
  opacity: 0.3;
}

.header-shopping{
  margin-left: auto;
}

.header-shopping__item{
  display: inline-block;
}

.header-shopping__item:not(:last-child){
  margin-right: 29px;
}

.header-shopping__link--compare::before{
  display: inline-block;
  width: 10px;
  height: 12px;
  margin: 0 10px 0 0;
  content: "";
  background-image: url("../images/svg/header/header-compare.svg");
}

.header-shopping__link--basket::before{
  display: inline-block;
  width: 16px;
  height: 14px;
  margin: 0 10px 0 0;
  content: "";
  background-image: url("../images/svg/header/header-basket.svg");
}

/*---basket---*/
.basket {
  position: relative;
  font-family: Rubik, "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
}

.header-basket__counter {
  position: absolute;
  top: 10px;
  left: 1000px;;
  display: block;
  width: 21px;
  height: 21px;

  font-family: "Rubik", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}


.shopping-basket__item--light-selfie::before{
  display: inline-block;
  width: 10px;
  height: 12px;
  margin: 0 10px 0 0;
  content: "";

  background-image: url("../images/svg/header/header-compare.svg");
}

.shopping-basket__item--prof-selfie::before{
  display: inline-block;
  width: 16px;
  height: 14px;
  margin: 0 10px 0 0;
  content: "";

  background-image: url("../images/svg/header/header-basket.svg");
}

.basket-nav__link{
  background: #ffffff;
}

/*---header-catalog---*/
.catalog-vendor{
  display: flex;
  align-items: center;
}

.vendor-list__item{
  display: inline-block;
}

.header-nav__item{
  display: flex;
  align-items: center;
  max-width: 300px;
}

.header-nav__item::after {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 0 0 7px;
  content: "";

  background: url("../images/svg/header/header-catalog-plus.svg") no-repeat 50% 50%;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.vendor-nav{
  max-width: 500px;
  margin-left: auto;
}

.vendor-list__item:nth-of-type(2){
  margin: 0 0 0 19px;
}

.vendor-list__item:last-of-type{
  margin: 0 0 0 62px;
}


.main-page{
  display: flex;
  flex-direction: column;
}
/*------SLIDER------*/
.slider{
  position: relative;
  margin: -142px auto 0 auto;
  min-height: 560px;
}

.first-card{
  display: flex;
  justify-content: space-between;

}

.product-view{
  max-width: 560px;
  position: relative;
}

.slider-button{
  position: absolute;
}

.slider-button--prev{
  top: 200px;
  left: 10px;
}

.slider-button--next{
  top:200px;
  left:50px;
}

.card-content{
  padding: 120px 0 0 0;
  max-width: 560px;
}

.card-content__id {
  position: absolute;
  top:5px;
  left: 885px;
  font-family: "Rubik", "Verdana", sans-serif;
  font-size: 180px;
  line-height: 167%;
  color: #ffffff;
}

.card-content__title {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.card-content__description {
  font-family: "Rubik", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167%;
  color: #444444;
}

.paginator__link{
  width: 220px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
}

.slider-button{
  display: block;
  width: 20px;
  height: 60px;
  margin:0;
  padding:0;
  text-align: center;
  border: none;
}

.slider-button--prev{
  background: url("../images/svg/main/slider-left.svg") no-repeat 50% 50%;
}

.slider-button--next{
  background: url("../images/svg/main/slider-right.svg") no-repeat 50% 50%;
}

.features__table--header{
  font-family: "Rubik" , "Verdana", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 167%;
  color: #444444;
}

.features__table--data{
  font-family: "Rubik" , "Verdana", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 167%;
}

/*----CATALOG----*/
.catalog-tiles{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.catalog-tiles__item{
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.catalog-tiles__item::before{
  display: inline-block;
  width: 160px;
  height: 160px;
  content: "";
  margin: 0 0 33px 0;
}

.catalog-tiles__item--virtual::before {
  background: url("../images/svg/main/catalog-virtual.svg") 50% 50% no-repeat,
              #FFE17F;
}

.catalog-tiles__item--monopod::before {
  background: url("../images/svg/main/catalog-monopod.svg") 50% 50% no-repeat,
              #FFE17F;
}

.catalog-tiles__item--camera::before {
  background: url("../images/svg/main/catalog-camera.svg") 50% 50% no-repeat,
              #FFE17F;
}

.catalog-tiles__item--fitbraslet::before {
  background: url("../images/svg/main/catalog-fitbraslet.svg") 50% 50% no-repeat,
              #FFE17F;
}

.catalog-tiles__item--smartwatch::before {
  background: url("../images/svg/main/catalog-smartwatch.svg") 50% 50% no-repeat,
              #FFE17F;
}

.catalog-tiles__item--copter::before {
  background: url("../images/svg/main/catalog-copter.svg") 50% 50% no-repeat,
              #FFE17F;
}

.catalog-tiles__link{
  line-height: 133%;
  letter-spacing: -0.02em;
}

/*---BENEFITS---*/
.benefits{
  background-color: #f0f0f0;
  background-clip: border-box;
}

.benefits-inner{
  display: flex;
}

.benefits-titles{
  margin-right: 116px;
}

.benefits-titles__item{
  max-width: 280px;
  display: block;
  border-right: 7px solid #000000;
  align-items: center;
}

.benefits-titles__link{
  width: 160px;
  min-height: 20px;
}

.benefits-titles__link--active{
  display: block;
  text-align: center;
  background: #000000;
  color: #FFE17F;
  width: 280px;
}

.benefits-content{
  display: flex;
  max-width: 700px;
}

.benefits-content__title{
  font-size: 50px;
  line-height: 100%;
}

.benefits-content__description{
  font-family: "Rubik", "Verdana", sans-serif;
  font-weight: normal;
  line-height: 167%;
  color: #444444;
}

.benefits-content:first-of-type::after{
display: block;
  width: 136px;
  height: 164px;
  content: "";
  background: url("../images/svg/main/benefits-delivery.svg");

}

/*---rare-item---*/
.rare-item {
  box-sizing: border-box;
  padding: 90px 0;
  background: #f0f0f0;
  background-clip: content-box;
}

.rare-item__link{
  font-size: 20px;
  line-height: 127%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.rare-item__link::before{
  display: inline-block;
  width: 125px;
  height: 100px;
  content: "";
  background: url("../images/svg/main/rare-delivery.svg") 50% 50% no-repeat,
              #ffe17f;
}

.rare-item__link::after{
  display: inline-block;
  width: 40px;
  height: 40px;
  content: "";
  background: url("../images/svg/main/rare-info.svg") 50% 50% no-repeat,
              rgba(220, 220, 220, 0.5);
  border:none;
  border-radius: 50%;
}

/*----vendor-about----*/
.vendor-about {
  display: flex;
  padding: 7px 0 87px 0;
  justify-content: space-between;
  font-family: "Rubik", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #444444;
}

.about,
.contects{
  box-sizing: border-box;
  padding: 0 65px 0 0;
}

.about__title,
.contacts__title {
  max-width: 560px;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.contacts__title::before,
.about__title::before{
  display: block;
  width: 80px;
  height: 7px;
  content: "";
  background: url("../images/svg/main/vendor-divider.svg")no-repeat;
}

.delivery-firm__item{
  font-weight: 700;
  line-height: 111%;
  color: #000000;
}

.delivery-firm__item::before{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 26px 0 0;
  content: "";
  background: #ffe17f;
  border-radius: 50%;
}

.about-vendor__link,
.contacts-connect__link{
  width: 260px;
}

.contacts-inner--title,
.schedule__title {
  font-weight: 700;
  font-size: 24px;
}

.contacts-inner__phone{
  color: inherit;
  text-decoration: underline;
}

/*---subscribe---*/
.subscribe{

  padding: 75px 0 130px 0;
  background-color: #f0f0f0;
  color: #444444;
}

/*.subscribe-inner,
.subscribe-form{
  max-width: 560px;
}*/

.subscribe-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-content{
  margin: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.subscribe-form__title {
  max-width: 560px;
  font-size: 50px;
  line-height:;
  color: #000000;
}

.subscribe-content__description{
  max-width: 560px;
  font-family: "Rubik", "Verdana", sans-serif;
  font-weight: normal;
  line-height: 167%;
}

.subscribe-form__description::before{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 21px 0 0;
  content: "";
  background: url("../images/svg/main/subscribe-ok.svg") 50% 50% no-repeat;
  border:none;
}

.subscribe-form{
  display: flex;

}

.subscribe-form__input{
  border:none;
  background: inherit;
}

.subscribe-form__button{
  box-sizing: border-box;
  width: 260px;
  margin:0;
  padding: 17px 0 18px 0;
  border: 3px solid #d8d8d8;
  color: #000000;
}

/*---footer---*/
.page-footer{
  font-family: "Rubik", "Verdana", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 105%;
  background-color:  #444444;
}

.footer-address__description::after{
  display: block;
  width: 80px;
  height: 7px;
  content: "";
  background: url("../images/svg/footer/footer-divider.svg");
}

.phone__link{
  line-height: 167%;
}

.vendor-social-list__item::before{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
}

.vendor-social-list__item:first-of-type::before{
  background: url("../images/svg/footer/footer-social-fb.svg") 50% 50% no-repeat,
              rgba(255, 255, 255, 0.3);
}

.vendor-social-list__item:nth-of-type(2)::before{
  background: url("../images/svg/footer/footer-social-ig.svg") 50% 50% no-repeat,
  rgba(255, 255, 255, 0.3);
}

.vendor-social-list__item:last-of-type::before{
  background: url("../images/svg/footer/footer-social-tw.svg") 50% 50% no-repeat,
  rgba(255, 255, 255, 0.3);
}


/*-----CATALOG----*/
.page-catalog{
  font-family: "Rubik", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.filter,
.sorting{
  background: #ebebeb;
}

.catalog-filter__header{
  background: #dcdcdc;
}

.sorting__select{
  border:none;
}

.sorting-arrow{
  display: inline-block;
  width: 11px;
  height: 10px;
  content: "";
}

.arrow--up{
  margin-right: 19px;
  background: url("../images/svg/catalog/sort-up.svg");
  opacity: 0.2;
}

.arrow--down{
  background: url("../images/svg/catalog/sort-down.svg");
}

.color__input + label::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 17px 0 0;
  content: "";
  border:2px solid #000000;
  border-radius: 3px;
  opacity: 0.2;
  background-size: 50% 50%;
}

.color__input:checked + label::before{
  background: url("../images/svg/catalog/filter-ok.svg") 50% 50% no-repeat;
  opacity: 1;
}

.wireless-filter__item:not(:last-child){
  margin-bottom: 22px;
}

.wireless__label{
  position: relative;
  cursor: pointer;
}

.wireless__label::before,
.wireless__label::after {
  position:absolute;
  left: 8px;
  top: -2px;
  border-radius: 50%;
  content: "";
}

.wireless__label::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 17px 0 0;
  content: "";
  border:2px solid #000000;
  opacity: 0.2;
}

.wireless__label::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
  border-radius: 50%;
  opacity:0;
}

.wireless__input:checked ~ .wireless__label::after {
  opacity: 1;
}

/*---sorting--*/

.sorting__header{
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting__select,
.sorting__option{
  border:none;
  background: inherit;
}

/*--product---*/
.product-card__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 126%;
  letter-spacing: -0.02em;
}

.product-card__price{
  font-size: 18px;
  line-height: 110%;
  color: #444444;
}


.pagination{
  background: #ebebeb;
}

.pagination__link {
  color: #444444;
}

.pagination-show-more{
  width: 1160px;
  padding: 19px 19px;
  border: 3px solid #C4C4C4;
  background-color: inherit;

  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination__link--prev,
.pagination__link--next{
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
