@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
       url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
  url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
  url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
  url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-hidden {
  display:none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

